trigger: none 
name: resource create
pool: agent-ka -jhund
jobs:
- job: 
  steps: 
  - task: TerraformInstaller@1
    displayName: terraform install
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: 'C:\STL_DATA\DevOps_Insider\vsts-agent-win-x64-4.268.0\_work\3\s\parent_module1'
      backendServiceArm: 'ajent-ka-jhuund'
      backendAzureRmOverrideSubscriptionID: '538f56b2-294c-4e41-a854-7ab1b5d5ad51'
      backendAzureRmResourceGroupName: 'rg_infra'
      backendAzureRmStorageAccountName: 'storageinfra'
      backendAzureRmContainerName: 'contenerinfra'
      backendAzureRmKey: 'brij.tfstate'

  - task: TerraformTask@5
    displayName: terraform plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: 'C:\STL_DATA\DevOps_Insider\vsts-agent-win-x64-4.268.0\_work\3\s\parent_module1'
      environmentServiceNameAzureRM: 'ajent-ka-jhuund'
  - task: TerraformTask@5
    displayName: terraform apply
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: 'C:\STL_DATA\DevOps_Insider\vsts-agent-win-x64-4.268.0\_work\3\s\parent_module1'
      commandOptions: '-auto-approve'
      environmentServiceNameAzureRM: 'ajent-ka-jhuund'


